h1 {
  color: red;
  background-color: black;
}

button {
  height: 50px;
  width: 100px;
  font-family: Arial;
  font-size: 20px;
  border: 2px solid blue;
  cursor: pointer;
}

.mango {
  background-color: rgb(25, 146, 146);
}

.boton {
  background-color: transparent;
  color: black;
}

.check {
  background-color: rgb(102, 241, 102);
  color: white;
  width: 200px;
}

.boton:hover {
  background-color: black;
  color: white;
}

.li-grande {
  font-size: 50px;
  font-weight: 800;
  background-color: rgb(208, 178, 28);
}
